.header {
  background-color: rgb(184, 255, 184);
  padding: 2rem 0;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
