.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 2rem 4rem;
  margin: 2rem;
}

.instruction {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.user-profile,
.playlists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.playlist-container {
  display: flex;
  gap: 5px;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  text-align: center;
  flex-direction: column;
}

.playlist-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  text-align: center;
}

.spotify-logo,
.youtube-logo {
  width: auto;
  height: 80px;
  margin: 10px 0;
  background-color: #fcfcfd;
  padding: 1rem;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 3px 3px -3px, #d6d6e7 0 -3px 0 inset;
  color: #000000;
  cursor: pointer;
}

.spotify-logo:hover,
.youtube-logo:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 5px,
    rgba(45, 35, 66, 0.3) 0 3px 3px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.spotify-name,
.youtube-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

i {
  font-size: 2.5rem;
}

.logout,
.get-playlists,
.hide-playlists {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.logout:hover,
.get-playlists:hover,
.hide-playlists:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.logout:disabled,
.get-playlists:disabled,
.hide-playlists:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.logout:active,
.get-playlists:active,
.hide-playlists:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.logout:focus,
.get-playlists:focus,
.hide-playlists:focus {
  outline: 1px transparent;
}

.logout:before,
.get-playlists:before,
.hide-playlists:before {
  display: none;
}

.logout:-webkit-details-marker,
.get-playlists:-webkit-details-marker,
.hide-playlists:-webkit-details-marker {
  display: none;
}

.spotify-pic,
.youtube-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  margin: 10px 0;
}

.playlist-container img {
  width: 150px;
  border-radius: 10px;
}

.playlist-container button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 3px 3px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
}

.playlist-container button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 3px 3px -3px, #d6d6e7 0 -3px 0 inset;
}

.playlist-container button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 5px,
    rgba(45, 35, 66, 0.3) 0 3px 3px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.playlist-container button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
